---
layout: home
author_profile: true
related: true
classes: wide
header:
  image: /assets/images/process_ambulatorio_bandeaux.jpg
---
<h1 id="benvenuti">Benvenuti!</h1>
<p>Medico specialista in <strong>Medicina Interna</strong>, esegue <strong>ecografie da più di 35 anni</strong>, già <strong>primario</strong> UO medicina interna presso la clinica San Francesco di Bergamo.</p>

<p>Il dottor Raffaelli si è Laureato in Medicina e Chirurgia presso l’Università Statale di Milano. Ha ottenuto la specialità in Medicina Interna presso l’Università di Pavia. Dal 1985 si interessa dell’applicazione degli ultrasuoni in campo medico.</p>

<p>Presso il suo studio privato, dotato di ecografo ad <code class="highlighter-rouge">alta definizione</code> e <code class="highlighter-rouge">colordoppler</code>, si eseguono <strong>ecografie</strong>:</p>

<div style="white-space: nowrap;">
  <div style="display: inline-block; width: 50%; white-space: normal;">
    <ul>
      <li>Addome superiore e inferiore</li>
      <li>Apparato urinario e pelvi</li>
      <li>Scrotale</li>
      <li>Mammaria</li>
    </ul>

  </div>

<div style="display: inline-block; width: 50%; white-space: normal;">
    <ul>
      <li>Tiroide</li>
      <li>Collo e ghiandole salivari</li>
      <li>Muscolo tendinea</li>
      <li>Tessuti molli</li>
    </ul>

  </div>
</div>

<p>Ecocolordoppler TSA e arti inferiori eseguiti dalla Dott.ssa Elena Ragni.</p>

<p>Il referto viene consegnato immediatamente.</p>

<p><strong>Si eseguono anche ecografie a domicilio.</strong></p>

<div class="responsive-video-container">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1393.3284081605805!2d9.6552923!3d45.6978587!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47815116bbe9dbb7%3A0xcf6b1a15ac5450fe!2sStudio%20Medico%20Ecografico%20Dott.%20Giovanni%20Raffaelli!5e0!3m2!1sfr!2sfr!4v1596908043096!5m2!1sfr!2sfr" width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
</div>
