<!-- begin _includes/seo.html -->

<title>Ecografie a Bergamo | Studio Raffaelli</title>
<meta name="generator" content="Jekyll v3.8.5" />
<meta property="og:title" content="Ecografie a Bergamo | Studio Raffaelli" />
<meta name="author" content="dott. Giovanni Raffaelli" />
<meta property="og:locale" content="it" />
<meta name="description" content="pagina d’informazione sullo studio medico ecografico dell Dott. Giovanni Raffaelli" />
<meta property="og:description" content="pagina d’informazione sullo studio medico ecografico dell Dott. Giovanni Raffaelli" />
<link rel="canonical" href="https://www.ecografiaraffaelli.it/" />
<meta property="og:url" content="https://www.ecografiaraffaelli.it/" />
<meta property="og:site_name" content="STUDIO MEDICO ECOGRAFICO RAFFAELLI" />
<script type="application/ld+json">
{"author":{"@type":"Person","name":"dott. Giovanni Raffaelli"},"headline":"Ecografie a Bergamo | Studio Raffaelli","description":"pagina d’informazione sullo studio medico ecografico dell Dott. Giovanni Raffaelli","@type":"WebSite","url":"https://www.ecografiaraffaelli.it/","name":"STUDIO MEDICO ECOGRAFICO RAFFAELLI","@context":"https://schema.org"}</script>

<!-- end _includes/seo.html -->
