---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
  <!-- a decommenter pour avoir du contenu de blog -->
      <!-- <div class="page__related">
      <h4 class="page__related-title">{{
      site.data.ui-text[site.locale].related_label | default: "Recent activities" }}</h4>
      <div class="grid__wrapper">
        {% for post in site.posts limit:4 %}
        {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div> -->
</div>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- le truc de base sur le site officiel de jekyll -->
<!-- <ul> -->
<!--   {% for post in site.posts %} -->
<!--     <li> -->
<!--       <h2><a href="{{ post.url }}">{{ post.title }}</a></h2> -->
<!--       <p>{{ post.excerpt }}</p> -->
<!--     </li> -->
<!--   {% endfor %} -->
<!-- </ul> -->

<!-- l'emprunt à la fin du layout single de minimal-mistake -->
<!-- <div id="main" role="main"> -->

<!-- </div> -->
<!-- le truc original qui n'est pas très beau -->
<!-- {% for post in paginator.posts %} -->
<!--   {% include archive-single.html %} -->
<!-- {% endfor %} -->

<!-- {% include paginator.html %} -->
